<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>

</div>

<div class="page-header">
  <div class="navLinks">
    <a [routerLink]="['/home']"> home </a>
    <a [routerLink]="['/contact']"> contact </a>
    <a [routerLink]="['/products']"> products </a>
  </div>
</div>

<div id="content">
  <router-outlet></router-outlet>
</div>


<div class="container">
  <div class="panel panel-primary">
  <div class="panel-heading"> about</div>
  <div class="panel-body">  </div>
</div>
</div>
